body {
  font-family: "PT Sans", sans-serif;
}
code {
  font-family: "Fira Mono", monospace;
}

table#business {
  font-family: "PT SANS", sans-serif;
  border-collapse: collapse;
  border: 2px solid orange;
  width: 95%;
}

/* table#business {
  border: 2px solid blue;
} */

table td {
  font-size: 15px;
}
