<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|PT+Sans" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <title>LavaTech</title>
</head>
<body>
<h2>You've reached LavaTech's new main page</h2>
We're the pioneers in the "Friend Cloud" space.<br>
<p style="margin-left: 10px; font-size: 13px">
    "Friend Cloud" (noun)<br>
    A cloud for friends. A mix between Public and Private Cloud.
</p>

You can join our discord <a href="https://discord.gg/urgYG9S">here</a>.<br>

<br>
<b><a href="https://wf.lavatech.top/lavatech-blog/lavatech-transparency-report-2020-edition">The 2019 Transparency Report is out now!</a></b><br>
<b><a href="https://wf.lavatech.top/lavatech-blog/lavatech-financial-report-2020-edition">The 2019 Financial Report is out now!</a></b>
<br><br>

<b>LavaTech Team (Discord and Email):</b>
<li>aveao/AveSatanas (ave#5554, <a href="mailto:lt@a3.pm">lt@a3.pm</a>)</li>
<li>Luna (l@a3.pm on xmpp, <a href="mailto:lavatech@l4.pm">lavatech@l4.pm</a>)</li><br>
<br>

<b>Service Agreement:</b>
<li>The LavaTech Service Agreement can be found <a href="https://gitlab.com/lavatech/servicesagreement">here</a></li>
<br><br>

<b>Business quotes <sup>(professional)</sup>:</b><br>

{% set quotes = load_data(path="content/business_quotes.json") %}
<marquee behavior="slide" height="400" scrollamount="20" hspace="0">
    <table id="business">
        <tbody>
            <tr>
                {% for quote in quotes -%}
                    <td>{{ quote[0] | safe }}</td>
                {%- endfor %}
            </tr>
            <tr>
                {% for quote in quotes -%}
                    <td><b>{{ quote[1] }}, 2020</b></td>
                {%- endfor %}
            </tr>
        </tbody>
    </table>
</marquee>
<br><br>

<b>Our generic services:</b>
<li><a href="https://elixi.re">elixi.re</a> (FOSS image host, note: elixi.re's team is bigger)</li>
<li><a href="https://status.lavatech.top">Elstat</a> (uptime tracking software)</li>
<li>Our official Tier 2 Arch Linux mirror (<a href="https://arch.mirrors.lavatech.top/">Link to mirror</a>, <a href="https://www.archlinux.org/mirrors/lavatech.top/">link to information on archlinux.org</a>)</li>
<li>Our official Manjaro mirror (<a href="https://manjaro.mirrors.lavatech.top/">Link to mirror</a>)</li>
<li><a href="https://a3.pm/xmpp.html">a3.pm XMPP services</a></li>
<li><a href="https://gitdab.com">Gitdab</a></li>
<li>Deprecated: <a href="https://searx.lavatech.top">Searx instance</a></li>
<li><b>New (April 2020):</b> <a href="https://bitwarden.lavatech.top">Bitwarden_rs instance</a> with all features as bitwarden.com, and with backups every 6 hours. Every account gets premium, and can create organizations. This is a new instance, and old instance is now removed.  <a href="https://wf.lavatech.top/lavatech-blog/bitwarden-move">See here for more information.</a></li>
<li><b>New (September 2020):</b> <a href="https://hut.lavatech.top">LavaHut</a>, our builds.sr.ht instance for friends. If you need access, you know how to contact us.</li>
<li>LavaDNS (<a href="http://95.216.149.205">IP address and additional info</a>, <a href="https://gitlab.com/luna/binder">Binder: our DNS server</a>)</li><br>
<br>
<b>Our Nintendo Switch services:</b>
<li>90DNS (at 163.172.141.219 and 207.246.121.77, <a href="https://gitlab.com/a/90dns">configs and additional info</a>)</li>
<!-- This HTML file was proudly hand-written in Sublime Text 3 and edited in vim -->
<!-- #GiveThomlegHisSXPro -->
<!-- By the way, fuck Team-Xecuter -->
<!-- Edit 2020-02-12: wow, that's an oooold meme -Ave -->
</body>
</html>
