{% macro datarow(data, counter=0) %}
    {% set len = data | length() %}

    {% if counter < len %}
        <tr>
            {% for i in [counter, counter + 1, counter + 2] %}
                {% if i >= len %}
                    {% break %}
                {% endif %}

                <td>
                    {{ data[i][0] | safe }}<br/>
                    <b>{{ data[i][1] | safe }}, {{ data[i][2] | safe }}</b>
                </td>
            {% endfor %}
        </tr>

        {{ self::datarow(data=data, counter=counter + 3) }}
    {% endif %}
{% endmacro datarow %}
