{% import "macros.html" as macros %}

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|PT+Sans" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <title>LavaTech</title>
</head>
<body>
    <article style="margin-left: 10%;">
        <h2>Lavatech Testimonials</h2>
        {% set data = load_data(path="content/testimonials/data.json") %}
        {% set_global counter = 0 %}

        <div style="margin-left: 13%;">
            <table style="width: 80%;">
                <tbody>
                    {{ macros::datarow(data=data) | safe }}
                </tbody>
            </table>
        </div>
    </article>
</body>
</html>
